:root {
  --Primary-Yellow: #F7B731; /* global scope */
  --Primary-Orange: #F26A21;
  --Primary-Blue: #36B4E8;
  --Primary-Grey: #BEC7D8;

  --Secondary-Yellow-Shade: #E8A414;
  --Secondary-Yellow-Tint: #FFDD96;
  --Secondary-Yellow-Lightest_Tint: #FEEECD;


  --Secondary-Orange-Shade: #B44D16;
  --Secondary-Orange-Tint: #FFB89A;

  --Secondary-Blue-Tint: #CAF0FF;
  --Secondary-Blue: #70C4E6;
  --Secondary-Blue-Shade: #14749B;
}

/* Typescale */

h1{
    font-size: 6vw;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-size: 52px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-size: 32px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h4{
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.h4Bold{
    font-weight: bold;
    font-size: 24px;
}

h5{
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h6{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.pLight{
    font-weight: 400;
}

.buttonText{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.secondaryButton{
    background-color: var(--Secondary-Yellow-Shade);
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    border: none;
}

.secondaryButton:hover{
    background-color: var(--Secondary-Yellow-Tint);
    color: var(--Secondary-Yellow-Shade);
}

.primaryButton{
    background-color: var(--Primary-Orange);
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    border: none;
}

.primaryButton:hover{
   background-color: var(--Secondary-Orange-Tint); 
   color: var(--Secondary-Orange-Shade);
}

.whiteButton{
    background-color: white;
    color: black;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    border: none;
    width: 100%;
}

.whiteButton:hover{
    background-color: rgba(255, 255, 255, 0.812);
}

.tertiaryButton{
    background-color: var(--Primary-Blue);
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    border: none;
}

.tertiaryButton:hover{
    background-color: var(--Secondary-Blue-Tint);
    color: var(--Secondary-Blue-Shade);
}

/* logo animation */
.logo {
    display: block;
    margin: auto;
    margin-top: 15%;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes myAnimation {
    to {
    transform: scale(2);
  }
  50%   {opacity: 100%;}
  100%  {opacity: 0%;}
}

.background{
    background-color: #FCF8F1;
}

/* Landing page */
.backgroundImage{
    background-image: url("Assets/landingPage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.landingpageH1{
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
    padding-top: 3%;
}

.landingpageH4{
    margin-left: 25%;
    text-align: center;
    margin-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.landingButton{
    display: block;
    margin: auto;
    margin-top: 15px;
}

/* Signup and login pages */
.backgroundImageSignup{
    background-image: url("Assets/SignupBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

input{
    border-radius: 12px;
    border: 1px solid var(--Primary-Grey);;
    padding: 8px 8px;
    width: 100%;
}

.block{
    margin: auto;
    border-radius: 24px;
    background: var(--Secondary-Yellow-Lightest_Tint);
    width: fit-content;
    padding: 40px 40px;
    justify-content: center;
}

.signupH5{
    margin-top: 4%;
    margin-bottom: 8%;
}

.spaceBetween{
    margin-top: 3%;
}

.linkText{
    color: var(--Primary-Orange);
    padding-left: 4px;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: fit-content;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 12px 0px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.noPadding{
    padding: 0;
}

.sidenav a:hover {
  color: var(--Secondary-Orange-Shade);
}

.sidebarLogo{
width: 194px;
height: 109px;
padding: 5%;
padding-left: 0;
}

.icon{
    height: 24px;
    padding-left: 20px;
}

/*
Source - https://stackoverflow.com/a/58463573
Posted by pasanjg, modified by community. See post 'Timeline' for change history
Retrieved 2026-09-30, License - CC BY-SA 4.0
*/

@media only screen and (max-width: 1500px) {
  #hide {
    display: none;
  }
}

/* home page */
.main {
  margin-left: 18%;
  padding: 0px 10px;
  margin-right: 4%;
  
}

.modernLove{
    font-family: "modern-love-caps", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 5vw;
    color: var(--Secondary-Orange-Shade);
}

.minionPro{
    font-family: "minion-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
}

.linkText{
    text-decoration: none;
}

.navLinks{
    color: black;
    padding-right: 20px;
    padding-bottom: 20%;
}

.activeLink{
    text-decoration: underline;
}

.welcomeBackBanner{
    background-image: url("Assets/Welcome\ banner.png");
    border-radius: 24px;
    background-position: right;
    padding: 45px 32px 32px 32px;
}

.visitFeedback{
    background-color: var(--Secondary-Blue-Tint);
    border-radius: 24px;
    padding: 30px;
    margin-top: 5%;
    margin-right: 3%;
    height: fit-content;
    box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.25);
}

.upcomingVisits{
    background-image: url("Assets/Upcoming\ visits.png");
    border-radius: 24px;
    background-position: right;
    background-size: cover;
    padding: 30px;
    margin-top: 2%;
    width:100%;
    box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.25);
}

.badge{
    margin-left:20dvh;
    margin-bottom: 0;
    padding-bottom: 0;
}

.visith6{
    margin-top: 5%;
    margin-bottom: 2%;
}

.marginTopSmall{
    margin-top: 3%;
    margin-bottom: 0;
}

.careRequests{
    background-color: white;
    border-radius: 24px;
    padding: 30px;
    margin-top: 5%;
    margin-right: 3%;
    height: fit-content;
    margin-bottom: 20px;
    box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.25);
}

.marginLeftSmall{
    margin-left: 3%;
}

.careSuppliesText{
    margin-top: 8%;
    padding-left: 20px;
    margin-bottom: 10px;
}

.vl {
  border-left: 1.5px solid black;
  height: 24px;
}

.quickActions{
    background-color: white;
    border-radius: 24px;
    padding: 30px;
    margin-top: 4%;
    margin-right: 3%;
    height: fit-content;
    margin-bottom: 20px;
    box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.25);
}

.linkAQuickAction{
    color: var(--Primary-Blue);
    padding-right: 15px;
    padding-top: 2px;
    text-decoration: none;
}

.linkAQuickAction:hover{
    color: var(--Secondary-Blue);
}